<h1>Subjects</h1>

  <% @subjects.each do |blog| %>
      
    <%= blog.subject %>
        
    <%= link_to 'Show', blog %>
    <%= link_to 'Edit', edit_blog_path(blog) %>
    <%= link_to 'Delete', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
      
  <% end %>